{% extends "layout.html" %}

{% block title %}
Chai aur Code
{% endblock %}

{% block content %}
<h1 class="text-center text-white mt-4">
    Welcome to Chai's Django project
</h1>

<h2 class="mb-3">
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %}
</h2>

<form method="post" enctype="multipart/form-data" class="form">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-warning" type="submit">
        Submit
    </button>

    <a href="{% url 'tweet_list' %}" class="btn btn-secondary ms-2">
        Back to list
    </a>
</form>
{% endblock %}
